.chat-drawer {
  *::part(form-control-label) {
    float: left;
  }

  ul > li {
    padding: 0.5rem 0;

    p {
      white-space: pre-wrap;
    }
  }

  form {
    sl-input,
    sl-textarea {
      margin-bottom: 1rem;
    }

    .chat-form-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.no-notify {
        justify-content: end;

        sl-icon-button[name='bell'] {
          display: none;
        }
      }
    }
  }
}
