body > .chat-box {
  display: none;
}

@media (display-mode: picture-in-picture) {
  .chat-box {
    ul {
      min-height: 100px;
      height: 50vh;
      overflow: auto;
    }

    form {
      accent-color: var(--sl-color-primary-600);
      display: flex;
      flex-direction: column;
      justify-content: end;

      button {
        background-color: var(--sl-color-primary-600);
        border-color: var(--sl-color-primary-600);
        color: var(--sl-color-neutral-0);
        border-radius: 0.25rem;
        padding: 0.25rem;
        border: none;
        font-weight: 500;

        &:hover {
          background-color: var(--sl-color-primary-500);
          border-color: var(--sl-color-primary-500);
          cursor: pointer;
        }
      }

      > div {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input,
        textarea {
          width: 100%;
          border-radius: 0.25rem;

          &:focus-visible {
            outline: none;
            border-color: var(--sl-color-primary-600);
            box-shadow: 0 0 0 3px var(--sl-input-focus-ring-color);
          }
        }
      }
    }
  }
}

.chat-box,
.chat-drawer {
  ul > li {
    padding: 0.5rem 0;

    p {
      white-space: pre-wrap;
    }
  }
}

.chat-form {
  *::part(form-control-label) {
    float: left;
  }

  sl-input,
  sl-textarea {
    margin-bottom: 1rem;
  }

  .chat-form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.no-notify {
      justify-content: end;

      sl-icon-button[name='bell'] {
        display: none;
      }
    }
  }
}
