body > .chat-box {
  display: none;
}

@media (display-mode: picture-in-picture) {
  .chat-box {
    ul {
      min-height: 100px;
      height: 50vh;
      overflow: auto;
    }
  }
}

.chat-box,
.chat-drawer {
  ul > li {
    padding: 0.5rem 0;

    p {
      white-space: pre-wrap;
    }
  }
}

.chat-form {
  *::part(form-control-label) {
    float: left;
  }

  sl-input,
  sl-textarea {
    margin-bottom: 1rem;
  }

  .chat-form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.no-notify {
      justify-content: end;

      sl-icon-button[name='bell'] {
        display: none;
      }
    }
  }
}
