<div class="chat-box">
  <ul data-events></ul>
  <hr>
  <form class="chat-form" method="post" action="/chat">
    <div>
      <label for="chat-input-name">Name</label>
      <input id="chat-input-name" name="name" placeholder="Your name" required />
    </div>
    <div>
      <label for="chat-input-message">Message</label>
      <textarea id="chat-input-message" name="message" placeholder="Type a message" rows="4" required></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</div>
