<sl-drawer label="Chatroom">
  <ul data-events></ul>
  <form id="chat-form" slot="footer" method="post" action="/chat">
    <sl-input name="name" placeholder="Your name"></sl-input>
    <sl-input name="message" placeholder="Type a message"></sl-input>
    <sl-button type="submit" variant="primary">Send</sl-button>
  </form>
</sl-drawer>
<sl-icon-button name="chat" label="Open chat"></sl-icon-button>
