/* Links */
a {
  font-weight: 500;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

a.active {
  outline-offset: 2px;
  outline: blue solid 2px;
}
