/* Style imports */
@import 'reset.scss';
@import 'variables.scss';
@import 'links.scss';
@import 'grid.scss';

/* Layout styles */
@import '@/layouts/base/styles.scss';

/* View styles */
@import '@/views/home/styles.scss';
@import '@/views/detail/styles.scss';

/* Component styles */
@import '@/components/chat/styles.scss';
@import '@/components/chatroom/styles.scss';
@import '@/components/header/styles.scss';
@import '@/components/poster/styles.scss';
@import '@/components/search/styles.scss';
@import '@/components/youtube/styles.scss';

/* Main styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

p {
  max-width: 60ch;
}
