{% layout "base" %}
{% block content %}
<section>
  <h1>Chat</h1>
  <ul data-events></ul>
</section>
<form id="chat-form" method="post" action="">
  <label>
    Name
    <input type="text" name="name" placeholder="Name" required />
  </label>
  <label>
    Message
    <input type="text" name="message" placeholder="Message" required />
  </label>
  <button type="submit">Send</button>
</form>
{% endblock %}
