header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 1rem;

  &.no-chat {
    justify-content: center;

    sl-icon-button {
      display: none;
    }
  }

  a,
  img {
    height: 100%;
  }

  sl-icon-button {
    font-size: 2.5rem;
  }
}
