header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 1rem;

  &.no-chat {
    justify-content: center;

    .chat-btn {
      display: none;
    }
  }

  a,
  img {
    height: 100%;
  }

  .chat-btn {
    display: flex;
    align-items: center;

    sl-icon-button {
      font-size: var(--sl-font-size-large);
    }

    .new-chats {
      display: none;
    }
  }
}
