<nav class="main-navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="">Films</a></li>
    <li><a href="">Series</a></li>
  </ul>
  <ul>
    <li><a href="">Login</a></li>
    <li><a href="">Register</a></li>
  </ul>
</nav>
