<nav class="main-navigation">
  <div>
    <a href="/"><img src="/img/header.svg" alt="Movies 4 You" /></a>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
  <ul>
    <li><a href="/search">Search</a></li>
  </ul>
</nav>
