{% layout "base" %}
{% block content %}
{% render 'search' %}
<section>
  <h1>Popular</h1>
  <div class="auto-grid">
    {% for movie in movies %}
    {% render 'poster', movie: movie %}
    {% endfor %}
  </div>
</section>
{% endblock %}
