<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My First Page</title>
  {% endblock %}
  {% if isDev %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/src/assets/js/main.js" defer></script>
  {% else %}
  <link rel="stylesheet" href="/main.css">
  <script type="module" src="/{{manifest['src/assets/js/main.js'].file}}" defer></script>
  <script type="nomodule" src="/{{manifest['vite/legacy-polyfills-legacy'].file}}" defer></script>
  <script type="nomodule" src="/{{manifest['src/assets/js/main-legacy.js'].file}}" defer></script>
  {% endif %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
